.App {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(159, 104, 255, 0.884);
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .App {
    background-color: black;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 20vh;
  }
}
